* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);

}

#container{
  color: whitesmoke;
  font-family: "Consolas", monospace;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 45px;
}

#todo,
#inProcess,
#done {
  width: 600px;
  min-height: 400px;
  margin: 20px;
  border: 4px solid whitesmoke; 
  border-radius: 25px;
}

p{
  height: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #292a30;
  cursor: pointer;
  margin: 10px;
}

